html{font-family: Arial;}
body{background-color: #00AAAA;}
p{font-size: 20px;}
nav a{ color: Black;}
h1{border-bottom:5px solid black; text-align:  center;}
h2{text-align: center;}
iframe{display: block;
margin: 0 auto;}
.IDA{text-align: center;}
#IDB{text-align: center;}   